<!DOCTYPE html>
<html>
<head>
<style type="text/css">
.vl { background-color:#FFFFE0;border-collapse:collapse; }
.vl th { background-color:#BDB76B;color:white; }
.vl td, .vl th { padding:5px 35px 5px 25px;border:1px solid #BDB76B; }
</style>

</head>

<body>
  <h2>{{Title}}</h2>
  <p>
    <a href="http://a75436.berlin.ptb.de/thomas.bock/replstat/issues"
    target="_blank"> issues  </a>
<table class="vl" border="1">
  <tr>
    <th><b>id</b></th>
    <th>target</th>
    <th>source</th>
    <th>date</th>
    <th>time</th>
    <th>state</th>
    <th>since</th>
    
  </tr>